<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	">
	
	<import resource="Spring-JDBCTemplate.xml" />
	<!-- <import resource="Spring-HibernateTemplate.xml" /> -->
	<import resource="Spring-MongoDB_1.2.0.xml" />
	
	<bean id="loginDao" class="com.github.dao.LoginDAO_Impl" scope="singleton">
		<property name="jt" ref="jt"/>
		<!-- <property name="mongoDao" ref="mongoDao"/> -->
		<!-- <property name="ht" ref="ht"/> -->
	</bean>
	
	<!-- <bean id="empdao" class="gmail.daos.EmpDao">
		<property name="jt" ref="jt"/>
		<property name="sessions" ref="sessionFactory"/> 
		<property name="ht" ref="ht"/>	
	</bean> -->
	
</beans>