<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	">
	
	<import resource="ReadProperties.xml" />
	
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${config.db.driverClassName}" />
		<property name="url" value="${config.db.url}" />
		<property name="username" value="${config.db.username}" />
		<property name="password" value="${config.db.password}" />
	</bean>
</beans>