<form name="changePswdForm" role="form" data-ng-submit="submit()" >
<div id='changedSuccess'></div>
<div id ="loginButton" class="ng-hide">
	<a href="/AngularSpringLAB/account/login" > Back to LOgin </a>	
</div>
<div id ="idDiv">
<div class="form-group" >
	<div class="form-hint" >
	To conform with our Strong Password policy,
	Use at least one letter, one numeral, one special character, and seven characters.
	</div>
	<input type="password" class="form-control" data-ok-password-directive
	data-ng-class="(changePswdForm.newpassword.$dirty && changePswdForm.newpassword.$invalid) ? 'error' : ''" 
	id="password" name="newpassword" placeholder="New Password" data-ng-required="true" data-ng-model="newpassword777">
	<div class="label password-count" data-ng-class="password.length > passwordLength ? 'label-success' : 'label-danger'" 
	data-ng-cloak>{{ newpassword777 | passwordCountFilter:passwordLength }}</div>

	<div class="strength-meter">
		<div class="strength-meter-fill" data-strength="{{myModulePasswordMeter}}"></div>
	</div>
</div>
<div class="form-group">
		<div class="error form-hint" 
		data-ng-show="changePswdForm.confirm.$dirty && changePswdForm.confirm.$error.required && !changePswdForm.confirm.$invalid" 
		data-ng-cloak>{{"You can't leave this empty."}}</div>
		<div class="error form-hint" 
		data-ng-show="changePswdForm.confirm.$dirty && changePswdForm.confirm.$invalid" 
		data-ng-cloak>{{"These passwords don't match. Try again?"}}</div>

		<!-- Enter to Confirm password | Enter for Password confirmation -->
		<input type="password" class="form-control" id="confirmpassword" name="confirm"
		placeholder="Password confirmation" 
		data-ng-required="true" data-ng-model="confirm77"
		data-ng-class="(changePswdForm.confirm.$dirty && changePswdForm.confirm.$invalid) ? 'error' : ''" 
		data-compare-to="changePswdForm.newpassword">
	</div>
	<div class="form-group col-md-12">
	<div class="pwd-changeform-txt pull-right">
		<button id="siginButton" type="submit" class="btn btn-sm btn-primary" 
		data-ng-disabled="changePswdForm.$invalid">Submit</button>
		<button data-dismiss="modal" class="btn btn-sm btn-danger" style="margin-left: 10px;">Cancel</button>
	</div>
	</div>
	</div>
	</form>